/* 
    Document   : main
    Created on : May 31, 2013, 11:28:55 AM
    Author     : James G. Lombardo, jlombardo@wctc.edu
    Description:
        Sample stylesheet for the CountDownTimer
*/

/* Normally you would position this in your own css */
#CountDownTimer {
    display: block;
    margin: 10px auto;
}

#timeToGoHeader {
    text-align: center;
}

#CountDownTimer {
    display: block;
    text-align: center;
    width: 275px;
}

#timeToGo ul {
    list-style: none outside none;
}

#timeToGo li {
    background: none repeat scroll 0 0 #0000FF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    height: 30px;
    width: 40px;
    padding-top: 10px;
    position: relative;
    top: -15px;
    left: -20px;
}

#timeToGoLabels ul {
    list-style: none outside none;
}

#timeToGoLabels li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    display: inline-block;
    text-decoration: none;
    font-size: .75em;
    font-family: sans-serif;   
    font-weight: lighter;
    height: 10px;
    width: 40px;
    padding-top: 0px;
    position: relative;
    top: -27px;
    left: -20px;
}


